.chart-container{
  background: linear-gradient(white, black); /* Standard syntax */

}

.chart-header, .chart-footer{
  font-size: 100px;
  text-align: center;
  background-color: #222;

  padding: 20px;
  color: white;
  margin-top: 0px;
  margin-bottom: 0px;
}

.chart-footer{
  background-color: rgba(0,0,0,0);
}

.chart-songs{
  color:deeppink;
  display: block;
  position: relative;
}

.Song{
  display: flex;
  position: relative;
  margin: 20px;
}

.chart-pos{
  margin-right: 20px;
  width: 70px;
}

.buy-this{
  margin-top: 16px;
  margin-right: 40px;
}

.react-audio-player{
  margin-top: 16px;
}

.song-specifics{
  list-style-type: none;
  margin-right: 40px;
  width: 200px;
}

.song-title{

}
.song-artist{
 color: dimgrey;
  
}

.song-genre{
 color: darkgrey;
}

.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
